# Consul Agent (Upstart unit)
description "Consul Agent"

start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [016]

respawn
respawn limit 10 10

script

# Make sure to use all our CPUs, because Consul can block a scheduler thread

sudo setcap CAP_NET_BIND_SERVICE=+eip {{ consul_home }}/bin/consul; exec sudo -u {{ consul_user }} -g {{ consul_group }} GOMAXPROCS=`nproc` \
  {{ consul_home }}/bin/consul agent \
  -config-dir {{ consul_config_dir }} \
  -config-file={{ consul_config_file }} \
  >> {{ consul_log_file }} 2>&1
end script

{% if consul_leave_on_terminate -%}
pre-stop exec {{ consul_home }}/bin/consul leave
{% endif -%}

kill timeout 10
